{% extends 'base.html.twig' %}
{# le template index.html.twig herite de notre gabri de base 'base.html.twig' (header + footer +lien css etc..#}
{% block title %}Blog Symfony | liste des Articles!{% endblock %}

{# le blc body fait reference au boc de body declare dans le fichier de base.html.twig #}
{# le contenu du bloc body est envoyer dans le bloc du fichier bas.html.twig #}
{% block body %}
<h1 class="display-4 text-center my-4">Liste des articles </h1>

<div class="row d-flex justify-content-center">
    {% for newArticle in articles %}
    {# {% for newArticle in articles %} for  est une boucle twig , une commande twig
    la var article provient de la methode index() du controller 'blogcontroller , elle contient tous les articles selectionnes en bdd
    nous sommes obliges de boucler puisque nous avons selctionner 10 articles en bdd
    nwarticle est une variable de reception que nous declarons dans la boucle for et qui receptionne un article par tour de boucle
    #}
        <div class="col-md-3 border border-secondary rounded mr-1 mb-1 text-center">
            <img src="{{newArticle.image}}" alt="" class="{{newArticle.title}}"><hr>
            <h2>{{newArticle.title}}</h2>
            <p>{{newArticle.content|raw}} </p><hr>
            <p>Poste le {{newArticle.createdAt|date('d/m/Y')}} a {{newArticle.createdAt|date('H:i:s')}}</p>
            <p><a class="btn btn-secondary" href="{{ path('blog_show',{'id': newArticle.id}) }}" role="button">View details &raquo;</a></p>
            {# on ajoute un 2e parametre a la methode path de twig afin de transmettre l'id de l'article dans l'url  #}
        </div> 

        {# date() filtre twig qui permet d'afficher la date et l'heure #}
        {# newArticle.createAt: la bdd renvoie un objet datetime , il n'est pas possible de convertir un objet en une chaine de caractere  #}
        {# sans filtre twig raw , mes balises <p></p> s'affiche , nous utlisons ce filtre pour l'affichage brut #}
    {% endfor %}
      
{% endblock %}
