{% extends "base.html.twig" %}
{% block body %}
    
    <h1 class="display-4 text-center my-4">Details de l'article</h1>
    
    <div class="col-md-12 border border-secondary rounded mr-1 mb-1 text-center">
        <img src="{{article.image|replace({"250":"900/300"})}}" alt="{{article.title}}" class=""><hr>
        <h2>{{article.title}}</h2>
        <p>{{article.content|raw}} </p><hr>
        <p class="text-rigth">Poste le {{article.createdAt|date('d/m/Y')}} a {{article.createdAt|date('H:i:s')}} </p>
        
      </div> 
   <a href="{{ path('blog')}}" class="btn btn-primary"> pour revenir sur les articles cliquez ici</a>

{% endblock %}