<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MonBlog Symfony {% endblock %}</title>
        
        {% block stylesheets %}

             <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
             
             <link rel="stylesheet" href="{{ asset('css/style.css') }}">
             {# asset() est une fonction qui permet de gerer une url jusqu'au fichier style.css #}
        
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('home') }}">Mon Blog Symfonie</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav mr-auto">
                {# si l'internaute n'est pas connecter on lui propose de s'inscrire ou de s'idendifier #}
                {% if not app.user %}
                    <li class="nav-item active">
                    <a class="nav-link" href="{{ path('security_login')}}">Identifiez-vous <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                    <a class="nav-link" href="{{ path('security_registration')}}">Creer un Compte<span class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
                
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('blog_create') }}">Creer un Article <span class="sr-only">(current)</span></a>
                {# path() est une fonction twig permettant de generer une url en fonction du nom de la route envoyer en argument#}
                {# le nom de la route blog est declaree dans le controller blogcontroller et est rattachee a la methode index() #}
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('blog') }}">Article <span class="sr-only">(current)</span></a>
                {# path() est une fonction twig permettant de generer une url en fonction du nom de la route envoyer en argument#}
                {# le nom de la route blog est declaree dans le controller blogcontroller et est rattachee a la methode index() #}
                </li>        
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catégorie</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="#">Musique</a>
                        <a class="dropdown-item" href="#">Cinéma</a>
                        <a class="dropdown-item" href="#">Sport</a>
                    </div>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item active">
                    <a class="nav-link" href="{{ path('easyadmin')}}">BackOffice <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {# app: var predefinie en twig qui contient beaucou de var d'environnement($_post $_get $_session) #}
                {# app.user: retourne les infos de la session en cours , cest a dire les infos de l'utilisateur qui est connecter #}
                {# si  app.user renvoie true , alors l'internaute est connecter , on entre dans le if , on lui propose le lien de deconnexion #}
                {% if app.user %}
 
                <li class="nav-item active">
                 <a class="nav-link" href="{{ path('security_logout')}}">Deconnexion <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                </ul>
                <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search">
                </form>
            </div>
        </nav>

        <div class="container mon-container">
        {% block body %}

        {% endblock %}
         </div>
        <footer class="bg-secondary py-4 text-center text-white">
           &copy; 2020 - Fatoumata Bah - c'est mon Blog Symfony !! Pas touche !!
        </footer>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
